ion-content{
  height: calc(100% - 110px);
}

ion-card{
  margin: 10px;
  ion-card-header{
    padding: 10px;
    ion-label{
      font-size: 8px;
      color: #EA8823;
    }
    ion-card-title{
      font-size: 14px;
      padding: 0px;
      margin: 0px;
    }
    ion-card-subtitle{
      padding: 0px;
      margin: 0px;
      font-size: 12px;
    }
  }
}